

<section class="mainbar" data-ng-init="vm.toViewArticulo()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Detalles de Producto
    </div>
    <div class="panel-body">

      <form novalidate>
     <!--   <formly-form model="vm.articulo" fields="vm.formFields">
        </formly-form>
      
-->
      
<div class="row" >
    <div class="form-group">
        <div class="col-md-6">
        <h2>{{vm.articulo.titulo}}</h2>
        <!--Titulo
            <input type="text"  class="form-control" name="titulo"   ng-model="vm.articulo.titulo" required="true" readonly="true">
        -->
        </div>
  <div class="col-md-2">
        <h2>{{vm.articulo.cod}}</h2>
        <!--Titulo
            <input type="text"  class="form-control" name="titulo"   ng-model="vm.articulo.titulo" required="true" readonly="true">
        -->
        </div>


         <div class="col-md-3">
          Codigo de Barras
            <i class="fa fa-barcode fa-2x"></i><input type="text"  class="form-control" name="barcode"   ng-model="vm.articulo.barcode" required="true" disabled="true">
        </div>
    </div>  
</div>
<div class="row" >
    <div class="form-group">
    
        
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-6">
            Descripcion
            <textarea class="form-control" rows="2" name="descripcion"   ng-model="vm.articulo.descripcion" required="true" disabled="true"></textarea>
        </div>
 <div class="row">
        <div class="row">
          <div class="col-md-2">
              Categoría:
              
                <input type="text"  class="form-control" name="categoria"   ng-model="vm.articulo.categoria.descripcion" required="true" readonly="true">
          </div>
          <div class="col-md-1">
    Stock.min
            <input type="text"  class="form-control" name="stockMinimo"  ng-model="vm.articulo.stockMinimo" required="true" disabled="true">
        </div>
       
        <div class="col-md-1">
     Existencia
            <input type="text"  class="form-control" name="stockMinimo"  ng-model="vm.articulo.existencia" required="true" disabled="true">
        </div>

        </div>  
</div>
</div>
<hr/>
<div class="row">
<div class="form-group">
<!--
          <div class="col-md-2">
                Precio de costo
                <input type="text"  class="form-control" name="precioCosto"  ng-model="vm.articulo.precioCosto" required="true" disabled="true">
            </div>
            <div class="col-md-2">
                Precio base
                <input type="text"  class="form-control" name="precioBase"  ng-model="vm.articulo.precioBase" required="true" disabled="true">
            </div>-->
            <div class="col-md-6">
                          Proveedor:

              <input type="text"  class="form-control"  name="proveedor"  ng-model="vm.articulo.proveedor.nombreRazon"  required="true" readonly="true">
              
             </div>         

</div>
</div>

 <div class="row">
<div class="form-group">           
         <div class="col-md-3">
        Serial
            <input type="text"  class="form-control" name="serial"   ng-model="vm.articulo.serial" required="true" disabled="true">
        </div>
         <div class="col-md-2">
        Marca
            <input type="text"  class="form-control" name="marca"   ng-model="vm.articulo.marca" required="true" disabled="true">
        </div>

        <div class="col-md-2">
        Modelo
            <input type="text"  class="form-control" name="modelo"  ng-model="vm.articulo.modelo" required="true" disabled="true">
        </div>
        <div class="col-md-2">
    Presentacion
            <input type="text"  class="form-control" name="presentacion"  ng-model="vm.articulo.presentacion" required="true" disabled="true">
        </div>  
         <div class="col-md-2">
    Dimensiones
            <input type="text"  class="form-control" name="dimensiones"  ng-model="vm.articulo.dimensiones" required="true" disabled="true">
        </div>
        <div class="col-md-1">
    Peso
            <input type="text"  class="form-control" name="peso"  ng-model="vm.articulo.peso" required="true" disabled="true">
        </div>





        </div>  
        </div>

<!--
<button ng-click="openModal()">Click Me</button>
-->
<!--

<a ui-sref="home.modal({path: 'create'})" class="btn btn-default" ng-click="openModal()">Login</a>


-->








            <!--
<a ui-sref="articulomodal()" class="btn btn-default" ng-click="openModal()" data-toggle="modal" href="#/modal">+</a>

 <a href="#/articulomodal">+C</a>

 <script type="text/ng-template" id="modalContainer">
        <div ng-controller="CateController" > </div>
    </script>
 <div ng-view></div>

      -->

<!--

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
href="cate/create.html"
  data-target="#myModal">
</button>
     

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->

            <!--
            <input type="text"  class="form-control" name="categoria"  ng-model="vm.articulo.categoria" required="true">
       -->
       <!--========================================================
<div class="row">
    <div class="form-group">
            <div class="col-md-2">
                Precio de costo
                <input type="text"  class="form-control" name="precioCosto"  ng-model="vm.articulo.precioCosto" required="true">
            </div>
            <div class="col-md-2">
                Precio base
                <input type="text"  class="form-control" name="precioBase"  ng-model="vm.articulo.precioBase" required="true">
            </div>
            <div class="col-md-8">
                          Proveedor:
                <div class="formly-field formly-field-input" >
                    <div class="form-group">
                          <div>
                              <ui-select ng-model="vm.articulo.proveedor"
                                theme="bootstrap"
                                class="select-proveedor"
                                title="Seleccione un proveedor" id="proveedor">
                                
                                <ui-select-match placeholder="Indique un proveedor...">{{$select.selected.nombreRazon}}</ui-select-match >
                                
                                <ui-select-choices repeat="proveedor in vm.proveedors"

                                  refresh="vm.refreshProveedors($select.search)"
                                  refresh-delay="0">    -->
                                 <!-- <div ng-bind-html="proveedor.nombreRazon | highlight: $select.search"></div>
                                  -->
<!--                                  <span ng-bind="proveedor.nombreRazon"></span>
                                </ui-select-choices>
                    
                              </ui-select>    -->
                           <!-- <p>Selected: {{vm.articulo.proveedor.nombreRazon}}</p> 
                          -->
                   <!--       </div>
                    </div>
                </div> 
                 <div class="col-md-8">
                    identificador de Proveedor
                    <input type="text" id="idProveedor" class="form-control" name="precioBase"  ng-model="vm.articulo.proveedor.id" required="true">
                </div>         
            </div> 
    </div>
</div>


       ============================================================-->
<hr/>

     <!--         
<div class="row">
    <div class="form-group">
          
              <div class="col-md-2">
    Sucursal
            <input type="text"  class="form-control" name="sucursal"  ng-model="vm.articulo.sucursal.descripcion" required="true" disabled="true">
        </div>
<div class="col-md-2">
    Deposito
            <input type="text"  class="form-control" name="deposito"  ng-model="vm.articulo.deposito.descripcion" required="true" disabled="true">
        </div>
      
      <div class="col-md-2">
    Ubicacion física
            <input type="text"  class="form-control" name="deposito"  ng-model="vm.articulo.ubicacionFisica" required="true" disabled="true">
        </div>
      </div> 
</div>-->



                <!--
                <p>Selected: {{$select.search}}</p> -->
          
        
<!--



              <select  id="proveedor" ng-model="vm.test.proveedor" ng-options="proveedor.id as proveedor.nombreRazon for proveedor in vm.proveedores2"></select>

               -->    
          
   

        <!--=============================================== -->




        <!--============================================ -->

       

       

        
  
<hr/>
<div class="row">
<div class="form-group">
            <div class="col-md-8">
    Agregado el: {{vm.articulo.createdAt|date : 'dd/MM/yy' }} a las: {{vm.articulo.createdAt|date : 'h:mm:ss a' }}
           
        </div>

            <div class="col-md-8">
    Actualizado el: {{vm.articulo.updatedAt|date: 'dd/MM/yy'  }}
    a las: {{vm.articulo.updatedAt|date: 'h:mm:ss a'  }}
           
        </div>
  </div> 
</div>



<!--
      <formly-form model="vm.articulo" fields="vm.formFields" form="vm.form">
        </formly-form>
--> 
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/articulo/{{vm.articulo.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Editar
        </a>
        <a class="btn btn-danger" title="Borrar" ng-really-message="Esta usted seguro(a) ?" ng-really-click="vm.remove()" item="vm.articulo">
          <i class="glyphicon glyphicon-remove-circle"></i> Borrar
        </a>
        <a class="btn btn-primary" href="/articulo">
          <i class="glyphicon glyphicon-list"></i> Listado de Productos
        </a>
      </div>

    </div>
  </div>

</section>
