<section class="mainbar" data-ng-init="vm.setFormFields()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Nueva Categoría
    </div>
    <div class="panel-body">

      <form data-ng-submit="vm.create()" novalidate>
<!--
        <formly-form model="vm.cate" fields="vm.formFields" form="vm.form">
        </formly-form>
-->
<div class="row" >
    <div class="form-group">
        <div class="col-md-8">
        Descripcion 
            <input type="text"  class="form-control" name="descripcion"   ng-model="vm.cate.descripcion" required="true">
        </div>
    
 <div class="col-md-3">
   <!-- IdE-->
            <input type="hidden"  class="form-control" name="idE"  ng-model="vm.cate.idE" required="true">
        </div>
         <div class="col-md-3">
  <!--  establecimiento-->
            <input type="hidden"  class="form-control" name="establecimiento"  ng-model="vm.cate.establecimiento" required="true">
        </div>
  <div class="col-md-3">
  <!--  idU-->
            <input type="hidden"  class="form-control" name="idU"  ng-model="vm.cate.idU" required="true">
        </div>

</div>
</div>


        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="vm.form.$invalid">
              <i class="glyphicon glyphicon-ok"></i> Aceptar
            </button>
            <a class="btn btn-danger" href="/ajuste">
              <i class="glyphicon glyphicon-remove"></i> Cancelar
            </a>
        </div>

        <div data-ng-show="vm.error" class="alert alert-danger form-group">
          <strong data-ng-bind="vm.error"></strong>
        </div>

      </form>

    </div>
  </div>

</section>
